<html ng-app="hearthstoneApp" ng-controller="classController">
  <head>
    <link rel="stylesheet" type="text/css" href="style.min.css">
  </head>
  <body>
    <div class="singleCard">
      <div class="close" ng-click="closeCard()"></div>
      <div class="cardInfo">
        <h2>{{curCard[0].name}}</h2>
        <p><i>{{curCard[0].flavor}}</i></p>
        <img src="{{curCard[0].img}}" />
        <img src="{{curCard[0].imgGold}}" />
      </div>
    </div>
    <div class="options">
      <section>
        <h3 class="minus" style="margin-top: 0" data-target="#set-toggle">Set</h3>
        <div id="set-toggle" class="toggle">
          <input id="standard" class="filterSelector" type="button" name="svsw" ng-click="switchSets(info.standard)"/><label for="standard">Standard</label>
          <input id="wild" class="filterSelector" type="button" name="svsw" ng-click="switchSets(info.wild)"/><label for="wild">Wild</label>
          <br />
          <div ng-repeat="set in info.sets">
            <input id="{{set}}" class="filterSelector" type="checkbox" checklist-model="$parent.setSelections" checklist-value="set"><label for="{{set}}">{{set}}</label>
          </div>
        </div>
      </section>
      <section>
        <h3 class="minus" data-target="#class-toggle">Class &amp; Type</h3>
        <div id="class-toggle" class="toggle col-2">
          <div class="col">
            <h4>Class</h4>
            <div ng-repeat="class in info.classes">
              <input id="{{class}}" class="filterSelector" type="checkbox" checklist-model="classSelections" checklist-value="class"><label for="{{class}}">{{class}}</label>
            </div>
          </div>
          <div class="col">
            <h4>Type</h4>
            <div ng-repeat="type in info.types">
              <input id="{{type}}" class="filterSelector" type="checkbox" checklist-model="typeSelections" checklist-value="type"><label for="{{type}}">{{type}}</label>
            </div>
          </div>
        </div>
      </section>
      <section>
        <h3 class="minus" data-target="#cost-rarity-toggle">Cost &amp; Rarity</h3>
        <div id="cost-rarity-toggle" class="toggle col-2">
          <div class="col">
            <h4>Cost</h4>
            <div ng-repeat="cost in ['0','1','2','3','4','5','6','7+']">
              <input id="cost{{cost}}" class="filterSelector" type="checkbox" checklist-model="costSelections" checklist-value="cost"><label for="cost{{cost}}">{{cost}}</label>
            </div>
          </div>
          <div class="col">
            <h4>Rarity</h4>
            <div ng-repeat="quality in info.qualities">
              <input id="{{quality}}" class="filterSelector" type="checkbox" checklist-model="qualitySelections" checklist-value="quality"><label for="{{quality}}">{{quality}}</label>
            </div>
          </div>
        </div>
      </section>
      <section>
        <h3 class="minus" data-target="#race-toggle">Race</h3>
        <div id="race-toggle" class="toggle">
          <div ng-repeat="race in info.races">
            <input id="{{race}}" class="filterSelector" type="checkbox" checklist-model="raceSelections" checklist-value="race"><label for="{{race}}">{{race}}</label>
          </div>
        </div>
      </section>
      <section>
        <h3 class="minus" data-target="#attack-health-toggle">Attack &amp; Health</h3>
        <div id="attack-health-toggle" class="toggle col-2">
          <div class="col">
            <h4>Attack</h4>
            <div ng-repeat="attack in ['0','1','2','3','4','5','6','7','8','9','10+']">
              <input id="attack{{attack}}" class="filterSelector" type="checkbox" checklist-model="attackSelections" checklist-value="attack"><label for="attack{{attack}}">{{attack}}</label>
            </div>
          </div>
          <div class="col">
            <h4>Health/Durability</h4>
            <div ng-repeat="health in ['0','1','2','3','4','5','6','7','8','9','10+']">
              <input id="health{{health}}" class="filterSelector" type="checkbox" checklist-model="healthSelections" checklist-value="health"><label for="health{{health}}">{{health}}</label>
            </div>
          </div>
        </div>
      </section>
      <section>
        <h3 class="minus" data-target="#search-toggle">Search</h3>
        <div id="search-toggle" class="toggle">
          <input id="search" class="search" name="search" type="search" ng-model="search"/>
        </div>
      </section>
    </div>
    <div class="results">
      <div class="image-holder" ng-click="openCard(card.cardId)" ng-repeat="card in cards | byCollectible: this | byClass: this | bySet: this | byType: this | byQuality: this | byRace: this | byCost: this | byAttack: this | byHealth: this | filter: search | orderBy: 'cost' track by $index">
        <img class="card" src="{{card.img}}" alt="{{card.name}}"/>
      </div>
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="node_modules\checklist-model\checklist-model.js"></script>
  <script src="app.js"></script>
  <script src="script.js"></script>
</html>
